.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.container {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 0px 10rem 0px 10rem;

}

.container h2 {
    text-align: center;
    padding-bottom: 50px;
}

.button {
    text-align: center;
}

.Answer h2 {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px 10rem 5px 10rem;
    /* margin-left: 50%;
    margin-right: 50%; */
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}